<section class="newList" *ngIf="user">
  <h1>{{user.firstName | titlecase}} {{user.lastName | titlecase}}'s To Do List</h1>

  <div class="add">
    <input class="newItem form-control form-control-lg" #newListInput type="text" [(ngModel)]="input"
      placeholder="Enter new items here" (keyup.enter)="addList(newListInput.value); newListInput.value=''">
    <!-- (click) passes input value to addList() and then clears the input -->
    <button id="addListButton" class="btn btn-primary btn-lg" (click)="addList(newListInput.value); newListInput.value=''">Add</button>
  </div>

  <div class="lists blockquote">
    <ul class="mb-0" id="dispList">
      <li *ngFor="let list of lists" [class.completed]="list.completed" class="list-lines">
        <tr>
          <td class="check">
            <input id='checked' *ngIf="list.completed === false" type="checkbox" (click)='isChecked(list)'>
            <input id='checked' *ngIf="list.completed === true" type="checkbox" (click)='isChecked(list)' checked>
          </td>
          <td class="todo">
            <p>{{list.item}}</p>
          </td>
        </tr>
      </li>
    </ul>
  </div>

  <div class="delete blockquote">
    <p class="mb-0">To delete an item:</p>
      <ol>
        <li>First mark the item as completed</li>
        <li>Then click the Delete button below</li>
      </ol>
    <button id="delButton" class="btn btn-primary btn-lg" (click)="delList(list)">Delete</button>
  </div>

</section>
