.newList {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 700px;
  }

.lists {
  min-height: 300px;
}

.todo {
  color: black;
  text-align: left;
  cursor: pointer;
}

.list-lines {
  min-height: 30px;
  min-width: 250px;
}

#delOneButton {
  padding: 0 5px;
  float: right;
}

#dispList {
  list-style-type: none;
  padding: 0 10px;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

.newItem {
  padding-left: 20px;
  margin: 10px 0;
  max-width: 400px;
  display: inline-block;
}

.add, .delete {
  text-align: center;
}

td {
  width: 100%;
}

li:nth-child(even) {
  background-color: #d1f2ff;
}

.check {
  width: 20px;
}

#checked {
  cursor: pointer;
}

.completed .todoBox .todo {
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: red;
}
