.newList {
    min-width: 550px;
    width: 600px;
    margin: 0 auto;
    padding: 0 30px;
  }

.todo {
  padding: 12px 0 0 10px;
  color: black;
}

.list-lines {
  height: 30px;
}

#dispList {
  list-style-type: none;
}

.completed {
    text-decoration: line-through;
    color: red;
  }
