<div class="profile" *ngIf="user">

  <h1>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</h1>

  <ul class="list-group">
    <div class="my-4">
      <label class="col-form-label-lg">Username</label>
      <li class="list-group-item d-flex justify-content-between align-items-center form-control-lg">
        {{user.username}}
      </li>
    </div>
    <div class="my-4">
      <label class="col-form-label-lg">Email</label>
      <li class="list-group-item d-flex justify-content-between align-items-center form-control-lg">
        {{user.email}}
      </li>
    </div>
  </ul>

</div>
